.consult {
  background: $color-alabaster;
}

.consult__wrapper {
  padding: 120px 100px 10px;
  max-width: 1440px;
  margin: 0 auto;

  @include vp-1199 {
    padding: 100px 45px 10px;
  }

  @include vp-767 {
    padding: 67px 15px 0;
  }
}

.consult__inner-wrapper {
  display: flex;
  border-radius: 16px;
}

.consult__text {
  position: relative;
  z-index: 1;
  border-radius: 16px;
  padding: 83px 74px 50px;
  background: $color-cerulean-blue;
  color: $color-alabaster;
  min-width: 498px;

  h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 25px;
    color: $color-default-white;
  }

  p {
    margin: 0 0 18px;
    opacity: 0.9;
  }

  @include vp-1199 {
    min-width: 442px;
    padding: 60px 45px;

    h2 {
      font-size: 28px;
      line-height: 28px;
    }

    p {
      line-height: 20px;
      margin-bottom: 35px;
    }
  }

  @include vp-767 {
    min-width: 100%;
    padding: 50px 15px;

    h2 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 17px;
    }

    p {
      font-size: 14px;
      margin-bottom: 23px;
    }
  }
}

.consult__image {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  left: -498px;
  flex-shrink: 0;
  width: 100%;

  @include vp-1199 {
    left: -442px;
  }

  @include vp-767 {
    display: none;
  }
}

.consult__input,
.consult__textarea {
  label {
    input,
    textarea {
      color: $color-default-white;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);

      @media (hover: hover) {
        &:hover {
          border-color: $color-default-white;
        }
      }

      &:focus {
        border-color: $color-default-white;
      }

      &:disabled {
        border: 1px solid #ffffff;
        opacity: 0.4;
        background: rgba(255, 255, 255, 0.2);
      }
    }

    @include vp-767 {
      span {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  @include hover-focus {
    input,
    textarea {
      border-color: $color-default-white;
    }
  }
}

.consult__select {
  .custom-select__button {
    border: 1px solid rgba(255, 255, 255, 0.3);

    &:hover {
      border: 1px solid $color-default-white;
    }

    &:focus {
      border: 1px solid $color-default-white;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  .custom-select__text {
    color: $color-default-white;
  }

  .custom-select__list {
    border: 1px solid $color-default-white;
    color: $color-charcoal;
  }

  .custom-select__icon {
    svg {
      stroke: $color-default-white;
    }
  }

  @include vp-767 {
    margin: 0 0 27px;

    label {
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.consult__toggle {
  input {
    &:focus-visible {
      & + .custom-toggle__icon {
        border-color: $color-default-white;
      }
    }

    &:disabled {
      & + .custom-toggle__icon {
        border-color: $color-default-white;
        background: rgba(255, 255, 255, 0.6);
      }
    }

    &:checked {
      &:disabled {
        & + .custom-toggle__icon {
          background: $color-mischka;
        }

        & + .custom-toggle__icon svg {
          opacity: 0.7;
        }
      }

      & + .custom-toggle__icon {
        background: $color-default-white;
      }

      & + .custom-toggle__icon svg {
        stroke: $color-cerulean-blue;
      }

      @media (hover: hover) {
        &:hover {
          & + .custom-toggle__icon {
            background: transparent;

            svg {
              stroke: $color-default-white;
            }
          }
        }
      }

      &:focus-visible {
        & + .custom-toggle__icon {
          background: transparent;
        }

        & + .custom-toggle__icon svg {
          stroke: $color-default-white;
        }
      }
    }
  }

  .custom-toggle__icon {
    border: 1px solid rgba(255, 255, 255, 0.7);

    svg {
      stroke: $color-cerulean-blue;
    }
  }

  @media (hover: hover) {
    &:hover {
      .custom-toggle__icon {
        border-color: $color-default-white;
      }
    }
  }

  @include vp-767 {
    margin: 0 0 30px;
  }
}

.consult__button {
  width: 100%;
  padding: 4px 4px 4px 30px;
  gap: 30px;

  span:first-child {
    flex-grow: 1;
    text-align: center;
  }

  svg {
    stroke: $color-cerulean-blue;
  }

  @include hover-focus {
    .btn__icon {
      rotate: 45deg;
    }

    svg {
      stroke: $color-default-white;
    }
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;

    .btn__icon {
      width: 34px;
      height: 34px;
    }
  }
}
