.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 0 15px;

  &:last-child {
    margin: 0;
  }

  label {
    width: 100%;
    align-items: center;

    span {
      display: block;
      font-size: 14px;
      margin-bottom: 9px;
      line-height: 18px;
      opacity: 0.8;
    }

    input,
    textarea {
      flex-grow: 1;
      width: 100%;
      min-height: 50px;
      margin-left: auto;
      padding: 10px;
      color: $color-charcoal;
      border: 1px solid rgba(72, 72, 72, 0.3);
      border-radius: 8px;
      outline: none;

      transition: border 0.3s ease;

      @media (hover: hover) {
        &:hover {
          border-color: $color-charcoal;
        }
      }

      &:focus {
        border-color: $color-charcoal;
      }

      &:disabled {
        border: 1px solid rgba(169, 175, 183, 0.5);
        background: rgba(169, 175, 183, 0.2);
      }
    }

    textarea {
      min-height: 98px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid $color-wild-watermelon;
      background: rgba(255, 94, 102, 0.2);
    }
  }
}
