.footer {
  background: $color-alabaster;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 52px auto auto;
  gap: 25px 52px;
  align-items: center;
  padding: 50px 100px;
  max-width: 1440px;
  margin: 0 auto;

  @include vp-1199 {
    padding: 50px 45px;
    gap: 25px 52px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 14px;
    padding: 30px 15px 40px;
  }
}

.footer__nav {
  @include vp-1199 {
    grid-column: 2 / -1;
  }

  @include vp-767 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.footer__logo {
  @include center;
  width: 52px;
  height: 52px;
  padding: 10px;
  border-radius: 50%;
  background: $color-default-white;

  @include vp-767 {
    margin: 0 auto;
  }
}

.footer__social {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 0 0 auto;
  max-width: 300px;
  justify-content: flex-end;

  @include vp-1199 {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    gap: 10px;
  }

  @include vp-767 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin: 0 auto;
    justify-content: center;
  }
}

.footer__social-link {
  @include center;

  width: 36px;
  height: 36px;
  background: $color-cerulean-blue;
  border-radius: 50%;

  @include hover-focus {
    svg {
      opacity: 0.7;
    }
  }

  &:active {
    background: $color-endeavour;

    svg {
      opacity: 1;
    }
  }

  @include vp-767 {
    width: 26px;
    height: 26px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}

.footer__inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;

  span,
  a {
    font-size: 14px;
    line-height: 18px;
    width: max-content;
  }

  a {
    border-bottom: 1px solid $color-charcoal;

    @include hover-focus {
      color: $color-cerulean-blue;
      border-bottom: 1px solid $color-cerulean-blue;
    }

    &:active {
      color: $color-endeavour;
      border-bottom: 1px solid $color-endeavour;
    }
  }

  @include vp-1199 {
    flex-direction: column-reverse;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    align-items: flex-start;
    gap: 10px;

    span,
    a {
      font-size: 12px;
      line-height: 12px;
    }
  }

  @include vp-767 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    gap: 18px;

    span,
    a {
      margin: 0 auto;
    }
  }
}
