.footer-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;

  @include vp-1199 {
    justify-content: flex-end;
    gap: 16px;
    font-size: 16px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 290px;
    margin: 0 auto;
  }
}

.footer-nav__item{
  @include vp-767 {
    &:nth-child(4n) {
      margin-left: 30px;
    }

    &:nth-child(6n) {
      margin-right: 30px;
    }
  }
}

.footer-nav__link {
  @include hover-focus {
    color: $color-cerulean-blue;
  }

  &:active {
    color: $color-endeavour;
  }
}
