@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope-300.woff2") format("woff2"), url("../fonts/manrope-300.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope-400.woff2") format("woff2"), url("../fonts/manrope-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/manrope-500.woff2") format("woff2"), url("../fonts/manrope-500.woff") format("woff");
}
